<body>
	<header>
	<div class="container">
		<div id="branding">
			<h1>stackoverflow-lite design</h1>	
		</div>
		<nav>
			<ul>
				<li><a href="{{ url_for('home') }}"></a></li>
				<li><a href="{{ url_for('register') }}"></a></li>
				<li><a href="{{ url_for('login') }}"></a></li>
			</ul>
		</nav>
	</div>
	</header>
	<section class="container">
		<div>
			<h1>The power of Collaborative programming</h1>
			<p>Things aren't always what they seem, our fears can play tricks on us 
			making us afraid to change course, afraid to move on, but usually hidden 
			behind our fears are second chances waiting to be seized, second chances 
			at almost everything and these opportunities do not come around often, so 
			when they come around we have to be ready</p>
		</div>
	</section>
</body>